.container_topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}

.container_topo picture {
    width: 140px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    padding: 10PX;
}

.container_topo nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    align-items: center;
}

.container_topo nav a {
    text-transform: uppercase;
    color: #2F4156;
    font-weight: 600;
}

.container_topo nav a:hover {
    color: #C8D9E6;
}

@media (max-width:768px) {
    .container_topo {
        font-size: 14px;
    }

    .container_topo picture {
        width: 120px;
        height: 90px;
    }
}

@media (max-width:415px) {
    .nav {
        font-size: 18px;
    }
}